<nav class="navbar navbar-inverse navbar-fixed-top navbarMenu">
	<div class="logo">
		<a class="navbar-brand" href="">
			<img src="../../ressources/img/logo.png" width="40" height="40">
		</a>
	</div>
	<div class="navbar-header">
	   <a class="navbar-brand" href="">Conférence</a>
    </div>
	<div class="dropdown pull-right">
	  <button id="menu-btn" class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown"><i class="glyphicon glyphicon-align-justify"></i>
	  <span class="caret"></span></button>
	  <ul class="dropdown-menu">
	    <li><a href="#sessions-list">Sessions</a></li>
	    <li><a href="#speakers-list">Présentateurs</a></li>
	  </ul>
	</div>
</nav>
<section id="main-view">
Ici le contenu principal en attente de chargement
<div>
	<a href="#sessions-list" id="btn-session" class="btn btn-success"><i class="icon-hand-right"></i>Voir les session</a>
	<a href="#speakers-list" id="btn-speakers" class="btn btn-success"><i class="icon-hand-right"></i>Voir les présentateurs</a>
</div>
</section>
<footer>Ici bientôt un pied de page</footer>